<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>어바웃 | 차한음 블로그</title>
    <meta name="description" content="어바웃 | 차한음 블로그">
    <meta name="author" content="차한음">
    <link rel="canonical" href="https://chebread.github.io/">

    <meta property="og:title" content="어바웃 | 차한음 블로그">
    <meta property="og:description" content="어바웃 | 차한음 블로그">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://chebread.github.io/about.html">
    <meta property="og:site_name" content="차한음 블로그">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="어바웃 | 차한음 블로그">
    <meta name="twitter:description" content="어바웃 | 차한음 블로그">

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "어바웃 | 차한음 블로그",
        "author": {
            "@type": "Person",
            "name": "차한음"
        },
        "publisher": {
            "@type": "Organization",
            "name": "차한음",
        },
        "description": "어바웃 | 차한음 블로그"
    }
    </script>

    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/color-palette.css">

    <link rel="stylesheet" href="/styles/about.css">
    <link rel="stylesheet" href="/styles/github-markdown.css">
    
    <link rel="icon" href="/favicons/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
</head>
<body>
    <div class="root">
        <header>
            <h1>어바웃</h1>
        </header>
        <div>
            <article class="markdown-body">
                <p>안녕하세요. 개발자 차한음입니다.</p>
                <img src="/assets/gopher.png" />
            </article>
        </div>
        <footer class="post-footer">
            &copy; 2025 Cha Haneum
        </footer>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>