<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>차한음 블로그</title>
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/color-palette.css">
</head>
<body>
    <div class="root">
        <header>
            <h1>차한음 블로그</h1>
        </header>
        <main>
            <section>
                {{/* {{ .Category }} */}}
                <!--Go 템플릿 주석-->
            </section>

            <h2>Fixed posts</h2>
            <section>
                {{ .Fixed }}
            </section>

            <h2>Posts</h2>
             <section>
                {{ .Published }}
            </section>
        </main>
        <footer>
            &copy; 2025 Cha Haneum
        </footer>
    </div>
</body>
</html>