<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>차한음 블로그</title>
    <meta name="description" content="개발자 차한음 블로그">
    <meta name="author" content="차한음">
    <link rel="canonical" href="https://chebread.github.io/">

    <meta property="og:title" content="차한음 블로그">
    <meta property="og:description" content="개발자 차한음 블로그">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://chebread.github.io/">
    <meta property="og:site_name" content="차한음 블로그">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="차한음 블로그">
    <meta name="twitter:description" content="개발자 차한음 블로그">

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "차한음 블로그",
        "author": {
            "@type": "Person",
            "name": "차한음"
        },
        "publisher": {
            "@type": "Organization",
            "name": "차한음",
        },
        "description": "개발자 차한음 블로그"
    }
    </script>

    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/color-palette.css">
    
    <link rel="stylesheet" href="/styles/home.css">
    
    <link rel="icon" href="/favicons/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
</head>
<body>
    <div class="root">
        <header>
            <h1>차한음 블로그</h1>
        </header>
        <main>
            <a href="posts.html">포스트</a>
            <a href="about.html">어바웃</a>
        </main>
        <footer>
            &copy; 2025 Cha Haneum
        </footer>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>