<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | 차한음 블로그</title>
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/color-palette.css">
</head>
<body>
    <div class="root">
        <header>
            <h1>
                {{- .Title -}}
            </h1>
            <h2>
                {{- .Date -}}
            </h2>
        </header>
        <article>
            {{- .Content -}}
        </article>
        <footer>
            &copy; 2025 Cha Haneum
        </footer>
    </div>
</body>
</html>