<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }} | 차한음 블로그</title>
    <meta name="description" content="{{ .Description }}">
    <meta name="author" content="차한음">
    <link rel="canonical" href="https://chebread.github.io/">

    <meta property="og:title" content="{{ .Title }} | 차한음 블로그">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://chebread.github.io/{{ .URL }}">
    <meta property="og:site_name" content="차한음 블로그">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ .Title }} | 차한음 블로그">
    <meta name="twitter:description" content="{{ .Description }}">

    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "headline": "{{ .Title }} | 차한음 블로그",
        "author": {
            "@type": "Person",
            "name": "차한음"
        },
        "publisher": {
            "@type": "Organization",
            "name": "차한음",
        },
        "datePublished": "{{ .Date }}",
        "description": "{{ .Description }}"
    }
    </script>

    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/color-palette.css">

    <link rel="stylesheet" href="/styles/post.css">
    <link rel="stylesheet" href="/styles/github-markdown.css">

    <link rel="icon" href="/favicons/favicon.ico" sizes="any">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png">
</head>
<body>
    <div class="root">
        <header class="post-header">
            <button><a href="/posts.html">뒤로가기</a></button>
            <h1>{{- .Title -}}</h1>
            <h3><time datetime="{{- .Date -}}">{{- .Date -}}</time></h3>
            <h3>{{- .Category -}}</h3>
        </header>
        <div class="post-content">
            <article class="markdown-body">
                {{- .Content -}}
            </article>
        </div>
        <footer class="post-footer">
            &copy; 2025 Cha Haneum
        </footer>
    </div>

    <script src="/js/main.js"></script>
</body>
</html>