<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./styles/layout.css" />
    <link rel="stylesheet" href="./styles/color-palette.css">
</head>
<body>
    <div class="root">
        <header>
            <h1>
                <!--title-->
            </h1>
        </header>
        <main>
            <!--content-->
        </main>
        <footer>
            &copy; 2025 Cha Haneum
        </footer>
    </div>
</body>
</html>